<mat-toolbar>
    <h1>Prueba JS/TS Finca Guatemala</h1>
</mat-toolbar>
<mat-sidenav-container autosize>
    <mat-sidenav class="mat-elevation-z8" mode="side" opened="true">
        <button mat-button class="menu-button" [routerLink]="['/credential']">
            <mat-icon>person</mat-icon>
            <span>Credenciales</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/messages']">
            <mat-icon>question_answer</mat-icon>
            <span>Mensajes</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>



</mat-sidenav-container>