<form ngNativeCalidate [formGroup]="form">
    <mat-card class="card-margin">
        <mat-card-title>Credenciales</mat-card-title>
        <mat-card-subtitle>Ingrese los datos solicitados</mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="start">
            <mat-form-field appearance="outline">
                <mat-label>Key</mat-label>
                <input formControlName="key" name="key" type="text" matInput placeholder="Key" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Shared Secret</mat-label>
                <input formControlName="sharedSecret" name="sharedSecret" type="text" matInput placeholder="Shared Secret" required>
            </mat-form-field>
    
        </div>
        <mat-card-actions>
            <button mat-button (click)="sendCredentials()">Agregar</button>
        </mat-card-actions>
    </mat-card>
</form>
<br>