<mat-card class="card-margin">
    <mat-card-title>Credenciales</mat-card-title>
    <mat-card-subtitle>Ingrese los datos solicitados</mat-card-subtitle>
    <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field appearance="outline">
            <mat-label>Key</mat-label>
            <input matInput placeholder="Key">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Shared Secret</mat-label>
            <input matInput placeholder="Shared Secret">
        </mat-form-field>

    </div>
    <mat-card-actions>
        <button mat-button>Agregar</button>
    </mat-card-actions>
</mat-card>
<br>